@import "tailwindcss";

@theme {
  --breakpoint-mobile: 573px;
}

.layout {
  display: grid;
  grid-template-rows: 250px 40px 1fr;
  justify-items: center;
  align-items: center;
}

.shadows {
  box-shadow: 4px 6px 4px oklch(0.2801 0 9.37);
}

.logo {
  animation: logoSpin 5s infinite linear;
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: theme(--breakpoint-mobile)) {
  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: auto;
  }
}
